---
layout: default
title: About
permalink: /about/
---

<div class="callout">
<!--  {% include events.html %} -->
  {% include news.html %}
  {% include blog_posts.html %}
</div>

<div class="main">
  <h2>About PLIX</h2>
  <p>Public libraries and the MIT Media Lab are kindred spirits. Both support an open, collaborative environment where learning can flourish. So let's team up!</p>

  <p>The Public Library Innovation Exchange (PLIX) is a community of librarians and MIT Media Lab researchers who strive to integrate the ideas of <a href="https://learn.media.mit.edu/creative-learning" target="_blank">creative learning</a> into their facilitation practice. Together, this community is developing new creative STEAM learning experiences—based on MIT Media Lab research and designed for the public library setting.</p>

  <p>Check out our community-designed <a id="about-to-activites-link" href={{ '/activities' | relative_url }}>PLIX activities</a>, join our <a href="https://groups.google.com/forum/#!forum/plix-community" target="_blank">PLIX Google Group</a>, or <a id="typeform-link-aboutpage" class="typeform-share link" href="https://mllearning.typeform.com/to/xPXkaa" data-mode="drawer_right" target="_blank">get in touch</a> with our team. <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })()</script></p>
  
  <p class="social-media-icons">
    <a href="https://www.instagram.com/heyplix/" target="_blank"><img src={{ '/images/pink-PLIX-instagram-icon.png' | relative_url }} alt="Instagram" /></a>
    <a href="https://twitter.com/heyplix" target="_blank"><img src={{ '/images/pink-PLIX-twitter-icon.png' | relative_url }} alt="Twitter" /></a>
    <span>Follow us @heyplix 🤖📚🚀💃🌊🦠🔮💡🍃🌎😎<span>
  </p>

  <div class="video-container">
      <iframe  src="https://www.youtube.com/embed/pQOtmce1ZpI" frameborder="0" allowfullscreen></iframe>
  </div>
  
  <h3>Contact Us</h3>
  <p>Questions? Email us at plix[at]media.mit.edu</p>
  <h3>Collaborators</h3>
  <p>PLIX is a project of the <a id="out-to-ml-learning" href="https://www.media.mit.edu/groups/ml-learning/overview/">Media Lab Learning Initiative</a>, in collaboration with the Knight Foundation and MIT Libraries.</p>
  <p>
    <a id="out-to-knight" href="https://knightfoundation.org"><img src={{ '/images/KF_logo-stacked.png' | relative_url }} class="external-logo" /></a>
    <img src={{ '/images/MFF_logo.png' | relative_url }} class="external-logo" />
  	<a id="out-to-mit-libs" href="https://libraries.mit.edu"><img src={{ '/images/mit-libraries-logo.png' | relative_url }} class="libraries-logo" /></a>
  </p>
</div>
